$blue: rgba(0, 114, 188, 1);
body {
    padding-top: 5rem;
}
#root {
    min-height: calc(100vh - 5rem);
    display: flex;
    flex-direction: column;
}
main {
    flex-grow: 1;
}
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../node_modules/bootstrap-icons/font/bootstrap-icons.scss';

.no-show, .declined, .cancled, .not-selected, .applied, .selected, .invited, .participated {
    border-radius: 0.5rem;
    border-width: 3px;
    overflow: hidden;
}
.no-show {
    border-color: $danger;
    .card-body {
        background-color: lighten($danger, 40%);
    }
}
.no-show, .declined {
    .card-header {
        background-color: $danger;
        color: $light;
    }
}
.not-selected, .cancled {
    .card-header {
        background-color: $gray-200;
        color: $gray-600;
    }
    .card-body {
        color: $gray-600;
    }
}
.declined {
    border-color: $red;
}
.not-selected {
    border-color: $orange;
}
.cancled {
    border-color: $gray-200;
    .card-header {
        text-decoration: line-through;
    }
}
.applied {
    border-color: $cyan;
}
.selected, .invited, .participated {
    border-color: $green;
    .card-header {
        background-color: $green;
        color: $white;
    }
}
.invited {
    .card-body {
        background-color: lighten($green, 50%);
    }
}
.participated {
    .card-body {
        background-color: $green;
        color: $white;
    }
}

@font-face {
  font-display: block;
  font-family: "bootstrap-icons";
  src: local("bootstrap-icons"), url("/node_modules/bootstrap-icons/font/fonts/bootstrap-icons.woff2") format("woff2"), url("/node_modules/bootstrap-icons/font/fonts/bootstrap-icons.woff") format("woff");
}