$blue: rgba(0, 114, 188, 1);
body {
    padding-top: 5rem;
}
#root {
    min-height: calc(100vh - 5rem);
    display: flex;
    flex-direction: column;
}
main {
    flex-grow: 1;
}
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons';

@font-face {
  font-display: block;
  font-family: "bootstrap-icons";
  src: local("bootstrap-icons"), url("bootstrap-icons/font/fonts/bootstrap-icons.woff2") format("woff2"), url("bootstrap-icons/font/fonts/bootstrap-icons.woff") format("woff");
}